body{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3f4c6b+0,3f4c6b+100;Blue+Grey+Flat */
background: rgb(63,76,107); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(63,76,107,1) 0%, rgba(63,76,107,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(63,76,107,1) 0%,rgba(63,76,107,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(63,76,107,1) 0%,rgba(63,76,107,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#3f4c6b',GradientType=1 ); /* IE6-9 */
height: 100%; margin: 0px; padding: 0px; 
}
.m-10{margin:10px !important;}
.ml-10{margin-left:10px !important;}
.mr-10{margin-rigth:10px !important;}
.mt-10{margin-top:10px !important;}
.mb-10{margin-botom:10px !important;}
.m-20{margin:20px !important;}
.ml-20{margin-left:20px !important;}
.mr-20{margin-rigth:20px !important;}
.mt-20{margin-top:20px !important;}
.mb-20{margin-botom:20px !important;}

.p-10{padding:10px !important;}
.pl-10{padding-left:10px !important;}
.pr-10{padding-rigth:10px !important;}
.pt-10{padding-top:10px !important;}
.pb-10{padding-botom:10px !important;}
.p-20{padding:20px !important;}
.pl-20{padding-left:20px !important;}
.pr-20{padding-rigth:20px !important;}
.pt-20{padding-top:20px !important;}
.pb-20{padding-botom:20px !important;}

.container{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,eeeeee+100;Grey+Flat */
background: #FFF; /* Old browsers */
min-height:100%;
}
